body {
  background: #fafafa;
  color: #555;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.container {
  width: 300px;
  margin: 0 auto;
}

input {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 24px;
  text-align: center;
  background: inherit;
  color: inherit;
  width: 100%;
  margin: 0 auto 40px auto;
  display: block;
  border: 2px solid #ddd;
}
input:hover {
  border: 2px solid #aaa;
}
input:focus {
  outline: none;
  border: 2px solid #aaa;
}


.displaySum {
  text-align: center;
  font-size: 48px;
}
